.logo{
    width: 41px;
    height: 51px;
}
.navbar img{
    width: 41px;
    height: 51px;
}
body{
    background: color #f3f1ff;;
}
.player img{
    
    width: 56px;
}
main{
    max-width: 870px;
}
.top-player{
    background-color: aqua;
}